<div class="main-content">
    <div class="container">
        <div class="row show-grid">
            <div class="span12">
                <div id="breadcrumb">
                <ul>
                    <li class="home"><a href="#">Home</a></li>
                    <li>Blog</li>
                </ul>
                </div>
            </div>
            <div class="span12">                        
                <div class="row show-grid clear-both">
                    <div id="left-sidebar" class="span3 sidebar">                               
                        <div class="sidebar-news-widget sidebar-block">
                            <h2>Recent Posts Widget</h2>
                            <ul>
                                <li>
                                    <a class="photo" href="#">
                                        <img alt="" src="/assets/demo/blog-widget09.jpg" />
                                    </a>
                                    <p>
                                    <a href="">More Icons Added
                                        to WP Theme</a>
                                    </p>
                                    <p class="date"><i class="icon-calendar"></i>June 27, 2013</p>
                                </li>
                                <li>
                                    <a class="photo" href="#">
                                        <img alt="" src="/assets/demo/blog-widget11.jpg" />
                                    </a>
                                    <p>
                                    <a href="">reDesign WP Theme
                                        now available
                                        on ThemeForest</a>
                                    </p>
                                    <p class="date"><i class="icon-calendar"></i>June 22, 2013</p>
                                </li>
                                <li>
                                    <a class="photo" href="#">
                                        <img alt="" src="/assets/demo/blog-widget14.jpg" />
                                    </a>
                                    <p>
                                    <a href="">Optimizing Images for Search Engines</a>
                                </p>
                                    <p class="date"><i class="icon-calendar"></i>June 17, 2013</p>
                                </li>
                            </ul>
                        </div>


                        <div class="comments-widget sidebar-block">
                            <h2>Recent Comments</h2>
                            <ul>
                                <li>
                                    <p>noname on <a href="#">More Icons Added
                                            to WP Theme</a></p>
                                </li>
                                <li>
                                    <p>noname on <a href="#">More Icons Added
                                            to WP Theme</a></p>
                                </li>
                                <li>
                                    <p>admin on <a href="#">reDesign WP Theme
                                            now available on ThemeForest</a></p></li>
                                <li>
                                    <p>helloworld on <a href="#">reDesign WP
                                            Theme now available on ThemeForest</a></p>
                                </li>
                                <li>
                                    <p>noname on <a href="#">More Icons Added
                                            to WP Theme</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span9 main-column two-columns-left">
                        <div class="post-item">
                            <h2>It's Time to Implement Social Media Marketing in Your Business</h2>
                            <img alt="" src="/assets/demo/lake.jpg" />
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi</p>
                            <a class="post-more" href="#">Continue Reading&nbsp;&raquo;</a>
                            <div class="post-item-panel">
                                <ul>
                                    <li class="date">
                                      <p><i class="icon-calendar"></i>July 31, 2013</p></li>
                                    <li><p><i class="icon-user"></i>by Admin</p></li>
                                    <li><p><i class="icon-tags"></i><a href="">photos</a>, <a href="">design</a></p></li>
                                    <li class="comments"><p><i class="icon-comments-alt"></i><span>2 comments</span></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-item">
                            <h2>Designing for Mobile Devices</h2>
                            <img alt="" src="/assets/demo/desk.jpg" />
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravi</p>
                            <a class="post-more" href="#">Continue Reading&nbsp;&raquo;</a>
                            <div class="post-item-panel">
                                <ul>
                                    <li class="date">
                                      <p><i class="icon-calendar"></i>July 15, 2013</p></li>
                                    <li><p><i class="icon-user"></i>by Admin</p></li>
                                    <li><p><i class="icon-tags"></i><a href="#">photos</a>, <a href="#">design</a></p></li>
                                    <li class="comments"><p><i class="icon-comments-alt"></i><span>2 comments</span></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
            
        </div>
        <hr>
        <div class="main-block clients">
            <div class="title-wrapper">
                <h2>Our Clients</h2>
            </div>
            <div id="clients" class="row show-grid clear-both">
                <div class="span12">
                    <div class="row show-grid">
                        <div class="hp-wrapper span2">
                            <img alt="" src="img/client1.jpg" />
                        </div>
                        <div class="hp-wrapper span2">
                            <img alt="" src="img/client2.jpg" />
                        </div>
                        <div class="hp-wrapper span2">
                            <img alt="" src="img/client3.jpg" />
                        </div>
                        <div class="hp-wrapper span2">
                            <img alt="" src="img/client4.jpg" />
                        </div>
                        <div class="hp-wrapper span2">
                            <img alt="" src="img/client5.jpg" />
                        </div>
                        <div class="hp-wrapper span2">
                            <img alt="" src="img/client6.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
