<!-- MAIN CONTENT AREA -->
<div class="main-content" style="margin:20px 0 40px">
    <div class="container">
        <div class="row show-grid">
            <div class="span12">
                <h1>
                    MegaWare
                    <small>Bringing the power of software to your business!</small>
                </h1>
                <div class="text-divider1"></div>

                <div class="row show-grid price-table-object">
                    <div class="dif-table price-table1">
                        <div class="span2 table-column first-column">
                            <p class="title">Free</p>
                            <p class="cost">$0 / year</p>
                            <ul>
                                <li><i class="icon-ok"></i>Awesome Features</li>
                                <li style="visibility:hidden;"><i class="icon-ok"></i>&nbsp;</li>
                                <li style="visibility:hidden;"><i class="icon-ok"></i>&nbsp;</li>
                            </ul>
                            <p class="bottom">
                                <a class="btn" href="/demo/signup/free">Buy Now!</a>
                            </p>
                        </div>
                        <div class="span2 table-column">
                            <p class="title">Standard</p>
                            <p class="cost">$10K / year</p>
                            <ul>
                                <li><i class="icon-ok"></i>Awesome Features</li>
                                <li><i class="icon-ok"></i>Great Support</li>
                                <li style="visibility:hidden"><i class="icon-ok"></i>&nbsp;</li>
                            </ul>
                            <p class="bottom">
                                <a class="btn" href="/demo/signup/standard">Buy Now!</a>
                            </p>
                        </div>
                        <div class="span3 table-column">
                            <p class="title">Premium</p>
                            <p class="cost">$50K / year</p>
                            <ul>
                                <li><i class="icon-ok"></i>Awesome Features</li>
                                <li><i class="icon-ok"></i>Great Support</li>
                                <li><i class="icon-ok"></i>Onsite Deployment</li>
                            </ul>
                            <p class="bottom">
                                <a class="btn btn-primary" href="/demo/signup/premium">Buy Now!</a>
                            </p>
                        </div>
                        <div class="span2 table-column last-column">
                            <p class="title">Enterprise</p>
                            <p class="cost">$1M / year</p>
                            <ul>
                                <li><i class="icon-ok"></i>Whitelabeling</li>
                                <li><i class="icon-ok"></i>Live Support</li>
                                <li><i class="icon-ok"></i>Web Scale</li>
                            </ul>
                            <p class="bottom">
                                <a class="btn" href="mailto:enterprise@landmark.io">Contact Us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
