<!-- MAIN CONTENT AREA -->
<div class="main-content">
    <div class="container">
        <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
        <div class="bannercontainer" >
            <div class="banner" >
                <ul>
                    <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 5 [SLIDE STYLE=SLOTFADE HORIZONTAL] -->
                    <li class="slide5 slide" data-transition="slotfade-horizontal"  data-masterspeed="300" data-slotamount="20">
                        <img alt="" src="/assets/demo/slider04.png" />
                        <div class="caption sfr carousel-caption" data-x="454" data-y="105" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                            <p class="big">MegaCorp</p>
                        </div>
                        <div class="caption sfr carousel-caption" data-x="454" data-y="154" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                            <p class="big">Landmark Demo</p>
                        </div>
                        <div class="caption sfb carousel-caption" data-x="480" data-y="210" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; padding-left: 0;">
                            <p class="small">
                                Welcome to the MegaCorp web site.
                                This is a demo site to showcase how the <a href="http://landmark.io">Landmark analytics service</a> works.
                                Click the circle icon in the lower left to get started.
                            </p>
                        </div>
                    </li>

            </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <div class="row main-block">
            <div class="span12">
                <div class="row">
                    <!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
                    <div class="span6 home-block hero-block-1">
                        <h1>Welcome to MegaCorp!</h1>
                        <h2>Built for businesses, by businesses</h2>
                        <p>bizstrap is a clean, modern and ultra-responsive site template designed and built from the ground up using the latest and greatest web technologies and framework. And, with over 30 stunning and highly useful feature shortcuts and rapid-design page templates you can effortlessly turn your organization’s website into a stunning product and/or services showcase that you’ll not only be proud of, but your customers will greatly respect. Affordable, effective and easy-to-use bizstrap is the smart choice for building and managing your business website. Smart, very smart indeed!</p>
                    </div>
                    <!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
                    <div class="span1">
                    </div>
                    <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
                    <div class="span5 home-block">
                        <div class="grey-box hero-block-2">
                            <h2><a href="#">Enterprise Level Paradigm Shifts</a></h2>
                            <p><img alt="" src="/assets/demo/release_icon.png" />Great web pages utilize effective calls to action  to grab the attention of the intended audience. bizstrap allows you to quickly and easily create highly effective action boxes.</p>
                            <a href="pricing.html" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy it now for just $5000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
        <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HORIZONTAL TESTIMONIAL BLOCK -->
        <div class="main-block testimonials">
            <div class="title-wrapper">
                <h2>Testimonials</h2>
            </div>
            <div class="clear-both"></div>
            <div class="row show-grid">
                <div class="span12">
                    <div class="testimonials-block">
                        <div class="quote"></div>
                        <p class="first-row">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p>Cras mattis consectetur purus sit amet fermentum.</p>
                        <p></p>
                        <p class="autor">Milton Waddams, Swingline Sales Manager</p>
                    </div>
                </div>
            </div>
            
            <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 3 -->
            <div class="row show-grid">
                <div class="span12 grey-box">
                    <div class="hero-block3">
                        <div class="row show-grid">
                            <div class="span9">
                                <div class="hero-content-3">
                                    <h2>Get your copy of MegaCorp today!</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.</p>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="tour-btn">
                                    <a href="pricing2.html" class="btn btn-warning">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
    </div>
    
    <!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT TWEETS BAR -->
    <div class="recent-tweets">
        <div class="container">
            <div class="row show-grid">
                <div class="span12 twitter-wrapper">
                    <div id="nav_t"></div>
                    <div class="tweets-slide"><ul class="slides"></ul></div>
                    <a class="follow_img" href="https://twitter.com/landmarkio"><img alt="" src="/assets/demo/follow.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
