<!-- MAIN CONTENT AREA -->
<div class="main-content" style="margin:20px 0 40px">
    <div class="container">
        <div class="row show-grid">
            <div class="span12">
                <h1>
                    <%= params[:plan].to_s.humanize %> Sign Up
                </h1>
                <div class="text-divider1"></div>
                <form name="contactForm" id="validForm" method="POST" action="send-form-email.php">
                    <div class="control-group">
                        <label class="control-label" for="inputName">USERNAME</label>
                        <div class="controls">
                            <input name="name" type="text" class="span4">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">EMAIL</label>
                        <div class="controls">
                            <input name="email" type="text" class="span4">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">PASSWORD</label>
                        <div class="controls">
                            <input name="passord" type="password" class="span4">
                        </div>
                    </div>
                    <div class="control-group form-button-offset">
                        <a href="/demo/signup" class="btn">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
