<% if @has_actions %>
  <div id="flow" class="row" style="padding: 0 32px; margin-top:60px">
    <div class="span12" style="text-align:center">
      <h3>What action do you want to explore?</h3>

      <form class="form-search" style="margin-top:20px" onsubmit="return false;">
        <div class="input-prepend">
          <button type="submit" class="btn btn-large"><span class="fui-search"></span></button>
          <input type="text" class="search span8 offset2 large search-query search-query-rounded" placeholder="Search actions">
        </div>
      </form>
    </div>
  </div>

<% else %>

  <div class="row" style="padding: 0 32px; margin-top:20px">
    <div class="span12">
      <h3>Getting Started</h3>
      <p>
        It doesn't look like you have any data logged with your <strong><%= @project.name %></strong> project just yet.
      </p>

      <p>
        Don't worry.
        It's easy to get started.
        Just copy and paste this JavaScript on to your web page:
      </p>

<pre>
&lt;script&gt;window.landmark=[];&lt;/script&gt;
&lt;script src="https://landmark.io/landmark.js"&gt;&lt;/script&gt;
&lt;script&gt;
landmark.push("initialize", "<%= @project.api_key %>");
landmark.push("trackPage", {});
&lt;/script&gt;
</pre>

      <p>
        See our <%= link_to('documentation page', page_path("help")) %> for help on user identification, user traits and action properties.
      </p>
    </div>
  </div>
<% end %>