<% javascript 'flows/show.js' %>

<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3>Exploring: <%= @action.name %></h3>

  </div>
</div>

<script>
  $(document).ready(function(){
    var action = <%= @action.name.to_json.html_safe %>

    landmark.show.load(
      new Query({sessionIdleTime:7200, steps:[
        new QueryCondition({expression:"action == '" + action.replace(/'/g, "\\'") + "'", steps:[
          new QuerySelection({name:"0:0", dimensions:["action"], fields:[new QuerySelectionField({name:"count", expression:"count()"})]})
        ]})
      ]})
    )
  });
</script>