<% javascript 'flows/view.js' %>

<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h4>Exploring: <%= @action.name %></h4>

    <div id="chart">
      <svg>
        <g id="links"></g>
        <g id="nodes"></g>
      </svg>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var action = <%= @action.name.to_json.html_safe %>
    landmark.properties(<%= @properties.to_json.html_safe %>);

    landmark.view.load(
      new Query({sessionIdleTime:7200, steps:[
        new QueryCondition({expression:"action == '" + action.replace(/'/g, "\\'") + "'", steps:[
          new QuerySelection({name:"0.0", dimensions:["action"], fields:[new QuerySelectionField({name:"count", expression:"count()"})]}),
          new QueryCondition({expression:"true", within:[1,1], steps:[
            new QuerySelection({name:"1.0", dimensions:["action"], fields:[new QuerySelectionField({name:"count", expression:"count()"})]}),
          ]})
        ]})
      ]})
    )
  });
</script>