<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3>Create User Trait</h3>
    <p>Traits are a way to track data about users such as gender or age.</p>
    
    <%= render 'form' %>
  </div>
</div>
