<div id="actions" style="padding: 0 32px; margin-top:20px">
  <div>
    <h3>User Actions</h3>

    <ul id="breadcrumb" class="breadcrumb"></ul>

    <div id="chart"></div>
  </div>
</div>

<script>
  $(function() {
    landmark.action.initialize(<%= @project.id %>);
  })
</script>
