<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3>New State</h3>
    <p>States represent where a user is in their lifecycle based on their events and past state.</p>
    
    <%= render 'form' %>
  </div>
</div>
