<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3>Create Property</h3>
    <p>Properties are a way to track data about your users and the actions they perform.</p>
    
    <%= render 'form' %>
  </div>
</div>
