<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3>Create Action Property</h3>
    <p>Action properties are a way to track data about the actions your users perform.</p>
    
    <%= render 'form' %>
  </div>
</div>
