<div class="alert alert-error">
  <button type="button" class="close fui-cross" data-dismiss="alert"></button>
  Your computer restarted <a href="#fakelink">because of a problem</a>. Sorry for any inconvenience and appreciate your patient.
</div>