<div id="flow" class="row" style="padding: 0 32px; margin-top:60px">
  <div class="span8 offset2" style="text-align:center">
    <h3>What action do you want to explore?</h3>

    <form class="form-search" style="margin-top:20px">
      <div class="input-prepend">
        <button type="submit" class="btn btn-large"><span class="fui-search"></span></button>
        <input type="text" class="search span8 offset2 large search-query search-query-rounded" placeholder="Search">
      </div>
    </form>
  </div>
</div>
