<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="row animated fadeInDown">
            <div class="span12">
                <div id="myCarousel" class="carousel slide">
                    <!-- carousel items -->
                    <div class="carousel-inner">
                        <!-- slide -->
                        <div class="active item slide1">
                            <div class="row">
                                <div class="span6">
                                    <img src="img/slide1.png" alt="slide1" />
                                </div>
                                <div class="span4">
                                    <h1>
                                        Sign Up For the Beta
                                    </h1>
                                    <p>
                                      We're working hard to bring you the most advanced behavioral analytics platform in the world.
                                    </p>
                                      
                                    <a href="/signup" class="btn btn-success btn-large">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="intro">
    <div class="container">
        <h1>Behavioral analytics is about understanding the <em>"why"</em> and the <em>"how"</em> of what your users do.</h1>
    </div>
</div>

<div id="features">
    <div class="container">
        <!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>Features</span>
            <hr class="right visible-desktop">
        </h2>

        <!-- feature list -->
        <div class="row">
            <div class="span4 feature">
                <h3><i class="i_cloud"></i> Track every event</h3>
                <p class="description">
                    Stop worrying about what events to track.
                    Landmark lets you track everything and analyze it later in real time.
                </p>
            </div>
            <div class="span4 feature">
                <h3><i class="i_chart"></i> Explore behavior</h3>
                <p class="description">
                    Skip over the line charts and bar graphs that most analytics tools show you.
                    Landmark gives you an intuitive way to <em>explore</em> what your users do.
                </p>
            </div>
            <div class="span4 feature">
                <h3><i class="i_movil"></i> Mobile Ready</h3>
                <p class="description">
                    Landmark is optimized so you can analyze from your desktop, mobile device or tablet.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- pricing -->
<div id="pricing">
    <div class="container">
        <!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>Pricing</span>
            <hr class="right visible-desktop">
        </h2>

        <!-- pricing charts -->
        <div class="row">
            <div class="span4">
                <div class="price_wrapper lite regular">
                    <div class="header">
                        <span>Pro</span>
                        <div class="price">
                            Pricing Coming Soon
                        </div>
                    </div>
                    <div class="section">
                        <h3>We'll be announcing pricing after the beta.</h3>
                        <ul class="perks">
                            <li><i class="i_shuffle" style="padding-right:3px"></i> Analyze millions of events</li>
                            <li><i class="i_loading"></i> Hosted in the cloud</li>
                        </ul>
                        <a href="#" class="btn disabled" onclick="return false">Coming soon</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="price_wrapper pro">
                    <div class="header">
                        <span>Beta</span>
                        <div class="price"><span>FREE</span></div>
                    </div>
                    <div class="section">
                        <h3>Steps into the shoes of your users and look at how they see your site.</h3>
                        <ul class="perks">
                            <li><i class="i_shuffle" style="padding-right:3px"></i> Analyze millions of events</li>
                            <li><i class="i_loading"></i> Hosted in the cloud</li>
                            <li><i class="icon-bolt pricing-icon" style="padding-right:13px"></i> Easy Integration</li>
                            <li><i class="i_bars" style="padding-right:3px"></i> Interactive tools</li>
                        </ul>
                        <a href="/signup" class="btn">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="price_wrapper standard regular">
                    <div class="header">
                        <span>On Site</span>
                        <div class="price">
                            Contact Us For Pricing
                        </div>
                    </div>
                    <div class="section">
                        <h3>Run Landmark on-site for more control.</h3>
                        <ul class="perks">
                            <li><i class="i_shuffle"></i> Analyze billions of events</li>
                            <li><i class="icon-lock pricing-icon" style="padding-right:8px"></i> Track sensitive data</li>
                            <li><i class="icon-group pricing-icon" style="padding-right:1px"></i> User management</li>
                        </ul>
                        <a href="mailto:landmark@skylandlabs.com" class="btn">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- starts footer -->
<div id="footer">
    <div class="container">
        <div class="row copyright">
            <div class="span5">
                <h3>Social</h3>
                <a href="https://twitter.com/landmarkio" class="social tw">
                    <i class="i_twitter"></i>
                </a>
            </div>
            <div class="span3 offset4 copy">
                <p>&copy; 2012 Skyland Labs, LLC</p>
            </div>
        </div>
    </div>
</div>
