<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span8">
    <h3>Help &amp; Customer Support</h3>

    <h4>Rails Integration</h4>

    <p>
      Landmark is built with third party integration in mind.
      If you're using Ruby on Rails then please take a look at the <a target="_blank" href="https://github.com/skylandlabs/landmark-rails">landmark-rails</a> open source project.
      It's easy to install into your Gemfile and will automatically integrate with authentication frameworks like <a target="_blank" href="https://github.com/plataformatec/devise">Devise</a>.
    </p>


    <h4>Troubleshooting Installation</h4>

    <p>
      If you're having trouble getting up and running, then please shoot us an e-mail at <a href="mailto:help@landmark.io">help@landmark.io</a>.
    </p>
  </div>
</div>
