<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3>Create a New Project</h3>
    <p>Projects are a way to group data together. It's good to use one project per web site.</p>
    
    <%= render 'form' %>
  </div>
</div>
