/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-responsive
 *= require flat-ui
 *= require font-awesome
 *= require typeahead
 *= require_self
 */

table tr th:first-child, table tr td:first-child {
  padding-left: 2px;
}

label {
  font-size: 18.004px;
  line-height: 1.722169;
}

#chart {
  border:1px solid #ccc;
  overflow: hidden;
}

#chart .node {
  shape-rendering: crispEdges;
  cursor: pointer;
}

#chart .node .title {
  font-size: 16px;
}

#chart .link {
  fill: none;
  stroke: #ECEEF0;
  stroke-opacity: 1;
}

.node-popover {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.node-popover .popover-content {
  padding: 0;
}

pre {
  display: inline-block;
}