#states
  #chart
    border: 1px solid #ccc
    overflow: hidden
    .state
      shape-rendering: crispEdges
      cursor: pointer
      rect
        fill: #fff
        stroke: #0b7359
        stroke-width: 2
      text
        font: 14px Helvetica
        text-align: center
        fill: #0b7359
    .transition
      path
        fill: none
        stroke: #333
      polygon.arrowhead
        fill: #333
        stroke: #333
